<div class="navbar-wagon">
  <p>Simple Airbnb</p>

  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <button type="button" class="btn btn-outline-primary" style = "margin-right: 20px"><%= link_to "Home", flats_path(@flats)%></button>
    <button type="button" class="btn btn-outline-primary"><%= link_to "Add Flat", flat_path('new')%></button>
    <div class="navbar-wagon-item"></div>
  </div>
</div>
